h1 { color: blue; }
h2 { color: Tomato; }
h3 { color: MediumSlateBlue; }
h4 { color: SlateGray; }
h5 { color: Purple; }
h6 { color: DarkCyan; }

.ost { background-color: Yellow; }
.fisk { background-color: Green; }